.daffodil-main {
  text-align: left;
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  color: #ffc752;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.daffodil-sub {
  text-align: left;
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  color: #ffc752;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.chivo-dark {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .chivo-lite {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .chivo-white {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
    text-align: left;
  }

.about-us {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-align: left;
  padding: 20px;
  line-height: 1.5;
}

.about-us a{
  color:#e7c787;
}

.about-us b{
  color:#e7c787;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #05140f;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  /*Font stuff */
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-align: left;
  outline: none;

  margin: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #6a8d76;
}

/* Style the collapsible content. Note: hidden by default */
.coll-cont {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #05140f;
  /* font stuff */
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 250;
  line-height: 1.3;
  font-style: normal;
  color: white;
  text-align: left;
  outline: none;
}


/*Image gif classes*/

.static:hover {
  transition: 1s;
  transform: scale(1.05);
}

.bottom-img {
  height: 300px;
  float: right;
}

.footer-left {
  float: left;
}

html {
    font-family: 'Chivo', sans-serif;
    /*background-color: #0c251d;*/
    background-color:#05140f;
  }

  
h1 {
    text-align: center;
    font-size: 3em;
    color: white;
  }

h2 {
    text-align: center;
    color: white;
    padding: 10px;
  }

h3 {
    text-align: center;
    color: black;
  }

.hcont {
  text-align: left;
  font-size: 22px;
  font-weight: 600;

}



.break {
    /*background-color: #2D6B4C;*/
    scroll-margin-top: 60px;
    background-color: #0c251d;
    width: 100%;
    margin: 0;
    padding: 5px;
    color: white;
}

.footer {
  background-color:#05140f;
  scroll-margin-top: 60px;
  width: 100%;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 250;
  line-height: 1.3;
  font-style: normal;
  color: white;
  text-align: left;
  outline: none;
}

.footer a{
  color: #ffc752;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    top: 0;       
    right: 0;
    left: 0;   
    width: 100%;  
    background-color: #0c251d;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;  
    transition: 0.2s;
    /* overflow: hidden; */
}

.nav-left {
  display: flex;
  margin: 2px;
  padding: 10px 10px 0px 10px;
  height: 60px;
  flex-direction: row;
  text-align: left;
}

.nav-logo {
  padding: 5px 5px;
  height: 50px;
  transition: 0.3s;
}

#header-img {
  height: 175px;
}

#getlink {
  color: #ffc752;
  font-weight: 400;
}

.nav-logo:hover {
  height: 51px;
  filter: drop-shadow(0 0 4px #ffc752)
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding: 20px;
}


.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ddd;
    text-align: left;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #ffc752;
}



.navbar-container {
  display: flex;
  /*justify-content: space-between;*/
  max-width: 1200px;
  margin: 0;
  padding: 0 20px;
  height: 60px;
}



body {
    padding-top: 60px; /* Adjust this value based on your navbar height */
  }
  

  .header {
    display: flex; 
    /* flex-direction: column;  */
    justify-content: space-between;
    max-width: 1000px;
    padding: 30px;
    margin: 0 auto;
    
  }

.section {

  scroll-margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 900px; /* Container max width */
    margin: 0 auto; /* Center the container */
    padding: 20px;
  }

  #sec3 {
    animation: 1s fadeInUp;
    animation-delay: 150ms;
  }

#sec2 {
  animation: 1s fadeInUp;
  animation-delay: 100ms;
}

#sec1 {
  animation: 1s fadeInUp;
}

  @keyframes fadeInUp {
    0% {
      transform: translateY(5%);
      opacity: .3;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

#headshot {
  height: 400px;
  border-radius: 8px;
}

  .section2 {
    display: flex;
    scroll-margin-top: 60px;
    width: 100%;
    margin: 0 auto; /* Center the container */
    padding: 20px;
    background-color: #040d13;
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: row;


  }

.subsection {
    flex: 1 1 200px; /* Grow, shrink, basis */
    min-height: 100px;
    min-width: 180px;
    
    /* Box styling */
    background-color: #a7d3ce;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    
    /* Content styling */
    display: flex;
    flex-direction: column;
  }

  .textbox {
    flex: 1 1 200px; /* Grow, shrink, basis */
    min-height: 100px;
    min-width: 180px;

    background-color: #c9b6eb;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;

    display: block;
    flex-direction: column;
  }

  .textbox2 {
    flex: 1 1 200px; /* Grow, shrink, basis */
    min-height: 100px;
    min-width: 180px;

    background-color: #efc7ea;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;

    display: block;
    flex-direction: column;
  }

  .textbox ul {
    padding-inline-start: 0;
    list-style-position: inside;
    margin: 3px;
  }

  .textbox li {
   padding: 2px;
  }


  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* Mobile menu button */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .section2 {
      flex-direction: column;
    }

    .menu-toggle {
      display: block;
  }
    
  .navbar-menu {
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #333;
    padding: 20px 30px;
    display: none; 
    z-index: 999;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  top: 0;       
  right: 0;
  left: 0;   
  width: 100%;  
  background-color: #0c251d;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;  
  transition: 0.2s;
  padding-bottom: 20px;
  /* overflow: hidden; */
}

.navbar-menu.active {
    display: flex !important; 
}

  .navbar-menu li {
    margin: 10px 0;
    text-align: center; 
}

.navbar-menu a {
    display: block; 
    padding: 8px 0; 
    font-size: 18px;
}

#header-img {
  object-fit: contain;
}

}